<div class="body" id="works">
  <br>
  <div class="container">
    <h1>Our Work</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio ullam eligendi, blanditiis ducimus
      consequatur vero mollitia facere sapiente deleniti nisi assumenda! Ipsam ad atque necessitatibus quasi veritatis
      similique pariatur neque.</p>
      <br><br><br>
      <div class="row">
        <div class="col-sm-5">
          <h3>Software Development</h3>
          <ul>
            <li>PHP</li>
            <li>Node Js & Express Js</li>
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
            <li>Java development</li>
          </ul>
        </div>
        <div class="col-sm-5">
          <h3>Database</h3>
          <ul>
            <li>MYSQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <div class="col-sm-5">
          <h3>Cloud</h3>
          <ul>
            <li>Heroku</li>
            <li>Firebase</li>
          </ul>
        </div>
      </div>
  </div>
</div>
