<div class="body" id="price">
 <h1 layout-align="center">Price</h1>
  <br><br>
  <div class="demo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable">
            <div class="pricingTable-header">
              <div class="price-value">
                <span class="currency">$</span>
                <span class="amount">100</span>
              </div>
              <h3 class="title">Standard</h3>
            </div>
            <ul class="pricing-content">
              <li>Single Page plus & dashboard for owner</li>
              <li>With Basic SEO</li>
              <li class="disable">24/7 Support/ Maintenance</li>
              <li class="disable">It's include contact, services, price & about ...</li>
            </ul>
            <div class="pricingTable-signup">
              <a routerLink="/standard">Get</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable pink">
            <div class="pricingTable-header">
              <div class="price-value">
                <span class="currency">$</span>
                <span class="amount">350</span>
              </div>
              <h3 class="title">Business</h3>
            </div>
            <ul class="pricing-content">
              <li>Up to 5 pages & dashboard for owner</li>
              <li>With Basic SEO</li>
              <li class="disable">24/7 Support/ Maintenance</li>
              <li class="disable">It's include standard + shopping cart, credit card paymnet system ...</li>
            </ul>
            <div class="pricingTable-signup">
              <a routerLink="/business">Get</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable purple">
              <div class="pricingTable-header">
                  <div class="price-value">
                      <span class="currency">$</span>
                      <span class="amount">2K</span>
                  </div>
                  <h3 class="title">Premium</h3>
              </div>
              <ul class="pricing-content">
                <li>Unlimited pages & dashboard for owner</li>
                <li>With Basic SEO</li>
                <li class="disable">24/7 Support/ Maintenance</li>
                <li class="disable">It's include standard + bussiness with signup & signin, full e-commerce design, google map ...</li>
              </ul>
              <div class="pricingTable-signup">
                  <a routerLink="/premium">Get</a>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

