<div class="body">
  <br><br>
  <div class="container">
    <h1>AMY<sup>2</sup> Team</h1>
    <div class="row center-dark">
      <div class="container m-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit doloribus exercitationem iusto nulla dolorum,
          soluta dolorem sed tenetur deserunt ab deleniti quaerat hic enim harum, necessitatibus magnam, ipsa inventore
          recusandae.</p>
      </div>
      <div class="col-sm-6">
        <h2>Company</h2>
        <ul>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="scroll('works')">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="scroll('price')">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="scroll('contact')">Contact US</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>Find US on</h2>
        <a class="fab fa-twitter"></a>
        <a class="fab fa-facebook-f"></a>
        <a class="fab fa-instagram"></a>
        <a class="fab fa-telegram"></a>
        <a class="fab fa-github"></a>
      </div>
    </div>
    <br><br><br>
  </div>
</div>
